<nav class="blue darken-4">
    <div class="container">
        <div class="nav-wrapper">
        <a href="/" class="brand-logo">IQAC</a>
        <a class="button-collapse" data-activates="mobile-nav" href="#">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li>
            <a href="/events">Events</a>
            </li>
            <li>
            <a href="/contact">Contact</a>
            </li>
            <li>
            <a href="/users/signup" class="btn">Register</a>
            </li>
        </ul>
        <ul class="side-nav" id="mobile-nav">
            <li>
            <a href="/events">Events</a>
            </li>
            <li>
            <a href="/contact">Contact</a>
            </li>
            <li>
            <a href="/users/signup">Register</a>
            </li>
        </ul>
        </div>
    </div>
</nav>
