<div class="row" style="padding-top: 100px;">
  <div class="col l7 hide-on-med-and-down">
    <h1 class="center-align">Welcome</h1>
    <p class="center-align">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, consequatur quia facilis magnam repellendus perspiciatis et libero nostrum omnis quae adipisci eum ipsam iste exercitationem. Ab, nesciunt similique cum consequuntur facilis ullam illum maxime omnis sequi, tempore saepe expedita sunt iste eligendi reiciendis in voluptatibus blanditiis possimus aliquid error assumenda!
    </p>
  </div>
  <div class="col l5 s12">
    {{>login}}
  </div>
</div>